<!DOCTYPE html>
<html>
<head>
    <title>Dataset Curation</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="icon" type="image/svg+xml" href="/logo.svg">
</head>
<body>
<div style="display: flex; align-items: center;">
    <a href="/"><img src="/logo.svg" alt="Logo" style="width: 50px; height: 50px; margin-right: 10px;"></a>
    <h1>Add Instruction-Output Pair.</h1>
</div>
<form action="/pairs" method="POST">
    <div class="form-row">
        <div class="form-column">
            <label for="instruction">Instruction:</label>
            <textarea id="instruction" name="instruction" required></textarea>
        </div>
        <div class="form-column">
            <label for="output">Output:</label>
            <textarea id="output" name="output" required></textarea>
        </div>
    </div>
    <button type="submit">Add Pair</button>
</form>
<br>
<a href="/pairs">View Instruction-Output Pairs</a>

</body>
</html>
