<!DOCTYPE html>
<html>
<head>
    <title>React Test Page | Dataset Curation App</title>
</head>
<body>
    <h1>React Test Page</h1>
    <div id="react-root"></div>
    <script src="/js/react-bundle.js"></script>
</body>
</html>
